@charset "UTF-8";
*{
    font-family: Helvetica;
    height: 100%;
}

body{
    background-image: linear-gradient(to right, #FF05E8, #820BE3);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #57048fc5 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #8A05E3;
    text-align: center;
    text-shadow: 1px 1px 2px #580491cc;
    font-size: 55px;
    text-transform: uppercase;
    margin: 0;
}

.lancamentos{
    text-align: center;
    width: 100%;
    
        
}

h2{
    color: #0c00fabd;
    text-align: center;
}
p{
    text-align: justify;
}